[user]
  name = fabiooo4
  email = fabioirimie@gmail.com

[core]
  editor = nvim
	pager = bat --theme gruvbox-dark

[init]
  defaultBranch = main

[pull]
  rebase = false

[submodule]
  recurse = true

[interactive]
    diffFilter = delta --color-only

# Delta configuration
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[pager]
	diff = bat --theme gruvbox-dark --language diff
